<%= form_tag(Railswiki::Engine.routes.url_helpers.pages_path, method: :get, class: "search-form") do |f| %>
  <h3>Search</h3>

  <p>
    <label for="search">Title:</label>
    <%= text_field_tag :search, params[:search] %>
  </p>

  <p>
    <%= submit_tag "Search" %>
  </p>
<% end %>
