<h2>Insert image</h2>

<ul class="uploaded-images">
  <% @uploaded_files.select { |file| file.is_image? }.each do |uploaded_file| %>
    <%= content_tag "li", data: {url: download_file_url(title: uploaded_file.title), title: uploaded_file.title} do %>
      <%= image_tag uploaded_file.file_url %>
    <% end %>
  <% end %>
</ul>

<%= link_to 'Upload new image', new_uploaded_file_path if user_can?(:create_file) %>
