<!DOCTYPE html>
<html>
<head>
  <title>Railswiki</title>
  <%= stylesheet_link_tag    "railswiki/application", media: "all" %>
  <%= javascript_include_tag "railswiki/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
